.categories ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
li{
    background-color: rgb(212, 209, 209);
    padding: 5px;
    border-radius: 5px;
}